@{
    ViewData["Title"] = "Información General";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block">
                <h2>Inventario</h2>
                <p> 
                    <a class="btn btn-dark">
                        Aquí se mostrará toda la informacion del inventario.
                        Incluye empleados, encargados e información del inmobiliario escolar.
                    </a>
                </p>
            </div>
            <img class="d-block w-100" src="https://image.freepik.com/foto-gratis/jefe-almacen-usando-auriculares-escribiendo-portapapeles_13339-81266.jpg" alt="First slide">
        </div>

        <div class="carousel-item ">
            <div class="carousel-caption d-none d-md-block">
                <h2> Encargado </h2>
                <p>
                    <a class="btn btn-dark"> Se mostrarán todos los datos de los encargados que deberan reportar alguna falla o problema en el inmobiliario escolar.</a>
                </p>
            </div>
                <img class="d-block w-100" src="https://retos-operaciones-logistica.eae.es/wp-content/uploads/2014/10/jefe-de-almacen-600x400.jpg" alt="Second slide">
        </div>
        
         <div class="carousel-item ">
             <div class="carousel-caption d-none d-md-block">
                 <h2> Verificador </h2>
                 <p>
                     <a class="btn btn-dark"> Se mostrarán todos los datos de los verificadores que van a realizar dicho mantenimiento o reparación en el inmobiliario escolar. </a>
                 </p>
                 </div>
                    <img class="d-block w-100" src="https://www.compromisoempresarial.com/wp-content/uploads/2019/01/derecho-a-reparar-aparatos-electronicos.jpg" alt="Third slide">
         </div>
          
    </div>
 <div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

<h5>
    <div align="center">
        Como propósito nos planteamos llevar a cabo una aplicación web que facilite el poder llevar el control del inmobiliario escolar, para dejar de lado el tener que estar escribiendo todo a papel y empezar a tener dicha información alojada en un sistema en donde se pueda consultar, verificar o cambiar de una manera más fácil, eficiente y práctica.

        Nuestra aplicación web podrá no solo alojar la información del inmobiliario, también nos quien será el encargado de dar dicho mantenimiento o reparación, también nos dirá quien es la persona que reporto dicho problema, obviamente se podrá saber esos datos cuando se den de alta dichas personas en el sistema.
        Uno de los beneficios mas importantes de nuestra aplicación web será que se podrá llevar un control del inmobiliario, del personal encargado que hará dicha reparación o mantenimiento.
        Nuestro objetivo es que nuestra aplicación web sea fácil de usar para cualquier usuario que vaya a utilizarlo, teniendo toda la información en una lista para que se pueda visualizar a primera impresión.
    </div>
</h5>